# This is a systemd service for the gaiacli rest server
[Unit]
Description=gaiacli
Requires=network.target
After=gaiad.target

[Service]
Type=simple
TimeoutStartSec=10s
# RestartSec=10
# Restart=on-failure
ExecStart=/home/asoltys/go/bin/gaiacli rest-server --trust-node=true --laddr tcp://0.0.0.0:9070 --home /home/asoltys/.gaiacli

[Install]
WantedBy=default.target
