# This is a systemd service for the gaiad cosmos server
[Unit]
Description=gaiad
Requires=network.target

[Service]
Type=simple
TimeoutStartSec=10s
# RestartSec=10
# Restart=on-failure
ExecStart={{ ansible_env.HOME }}/go/bin/gaiad start --home {{ ansible_env.HOME }}/.gaiad

[Install]
WantedBy=default.target
